<header class="header">
    <div class="navbar-container">
        <a class="header-logo">
            <div class="header-logo__img"></div>
            <h1 class="header-logo__text">forkio</h1>
        </a>
        <div class="header-navbar">
            <ul class="navbar-nav">
                <li tabindex="0" class="navbar-nav__item">
                    <a tabindex="-1" href="#">overview</a>
                </li>
                <li tabindex="0" class="navbar-nav__item">
                    <a tabindex="-1" href="#">about fork</a>
                </li>
                <li tabindex="0" class="navbar-nav__item">
                    <a tabindex="-1" href="#">buying options</a>
                </li>
                <li tabindex="0" class="navbar-nav__item">
                    <a tabindex="-1" href="#">support</a>
                </li>
            </ul>
        </div>
        <button class="navbar__button">buy now</button>
        <div meta-btn-container>
            <a href="#" class="meta-btn">
                <div class="meta-btn__lines"></div>
            </a>
        </div>
    </div>
</header>
<section class="head-section">
    <div class="title-container">
        <h1 class="title-container__title">Fork App</h1>
        <p class="title-container__description">
            A real gamechanger in the world of web development
        </p>
        <span class="title-container__info">v. 2.8 For Mac and Windows</span>
    </div>
    <div class="btn-container">
        <button class="header__btn-download">Download For Free Now</button>
    </div>

</section>