<section>
    <div class="section-container">
        <h2 class="section-title">People Are Talking About Fork</h2>
        <div class="testimonial">
            <a href="#" class="testimonial-item">
                <img src="./img/testimonial-logo1.png" alt="" class="testimonial-item__img">
                <p class="testimonial-item__article">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </p>
            </a>
            <a href="#" class="testimonial-item">
                <img src="./img/testimonial-logo2.png" alt="" class="testimonial-item__img">
                <p class="testimonial-item__article">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </p>
            </a>
            <a href="#" class="testimonial-item">
                <img src="./img/testimonial-logo3.png" alt="" class="testimonial-item__img">
                <p class="testimonial-item__article">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </p>
            </a>
            <a href="#" class="testimonial-item">
                <img src="./img/testimonial-logo4.png" alt="" class="testimonial-item__img">
                <p class="testimonial-item__article">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </p>
            </a>
            <a href="#" class="testimonial-item">
                <img src="./img/testimonial-logo5.png" alt="" class="testimonial-item__img">
                <p class="testimonial-item__article">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </p>
            </a>
            <a href="#" class="testimonial-item">
                <img src="./img/testimonial-logo6.png" alt="" class="testimonial-item__img">
                <p class="testimonial-item__article">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </p>
            </a>
        </div>
        <div class="additional-info">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. </div>
    </div>
</section>
