@keyframes burger-animation-top {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(18px);
        opacity: 0;
    }
}

@keyframes burger-animation-center {
    0% {
        transform: translateY(0px);
    }
    40% {
        transform: rotate(0deg) translateY(9px);
    }
    100% {
        transform: rotate(315deg);
    }
}

@keyframes burger-animation-bottom {
    0% {
        transform: translateY(0px);
    }
    33% {
        transform: rotate(0deg) translateY(9px);
    }
    100% {
        transform: rotate(90deg) translateX(-33%);
    }
}

@keyframes burger-animation-top-reverse {
    80% {
        transform: translateY(18px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes burger-animation-center-reverse {
    0% {
        transform: rotate(315deg) translateY(0px);
    }
    20% {
        transform: translateY(9px);
    }
    80% {
        transform: rotate(0deg);
    }
}

@keyframes burger-animation-bottom-reverse {
    0% {
        transform: translateY(9px);
    }
    20% {
        transform: rotate(-270deg) translateY(15px) scale(1.2);
    }
    80% {
        transform: rotate(0deg) translateX(0%);
    }
}

@keyframes dropdown {
    0% {
        top: -200px;
        opacity: 0;
    }
    65% {
        top: 20px;
    }
    75% {
        top: -15px;
    }
    85% {
        top: 10px;
    }
    95% {
        top: -10px;
    }
    100% {
        top: 0px;
    }
}