$main-color: #8d81ac;
$secondary-color: #ffffff;
$section-width: 1200px;
$header-height: 800px;
$aux-font: 'Lato',
sans-serif;
%automargin {
    margin: 0 auto;
}

:hover,
 :active,
 :focus {
    outline: none;
}

@media(max-width:320px) {
    body {
        width: 320px;
    }
}

@mixin button($widtn, $height, $font-weight) {
    background-color: $main-color;
    width: $widtn;
    height: $height;
    align-self: center;
    border-radius: $height;
    border: none;
    color: $secondary-color;
    text-transform: capitalize;
    font-weight: 700;
    font-size: $font-weight;
    outline: none;
}

.header {
    min-width: 320px;
    width: 100%;
    position: absolute;
}

.head-section {
    height: $header-height;
    max-width: $section-width;
    background-image: url(../img/header-background.png);
    background-position: 50% 100%;
    position: relative;
    z-index: -1;
    @extend %automargin;
    margin-bottom: 90px;
}

.head-section::after {
    content: "Unlimited 30-Days Trial Period";
    background-color: $secondary-color;
    position: absolute;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #848E97;
    top: $header-height;
    width: 100%;
    padding: 50px 0 20px;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-self: right;
    cursor: pointer;
    &__img {
        width: 43px;
        height: 43px;
        background-image: url(../img/header-logo.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    &__text {
        font-family: $aux-font;
        color: $main-color;
        font-size: 24px;
        text-transform: uppercase;
        margin-left: 15px;
    }
}

.header-logo:hover {
    .header-logo__img {
        background-image: url(../img/logo-hover.png);
    }
    .header-logo__text {
        color: $secondary-color;
    }
}

.navbar-container {
    display: grid;
    grid-template-columns: 17% 1fr 17%;
    align-content: center;
    justify-items: center;
    max-width: $section-width;
    height: 100%;
    margin: 20px auto;
    @extend %automargin
}

@media (min-width: 481px) and (max-width: 992px) {
    .header {
        background-color: #27262a;
    }
    .header-logo {
        justify-self: left;
        margin-left: 15px;
    }
    .navbar__button {
        grid-area: 1/3/2/4;
        justify-self: right;
        margin-right: 15px;
    }
    .navbar-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 40px;
        margin-bottom: 0;
    }
    .header-navbar {
        grid-area: 2/1/3/4;
        justify-self: center;
        // background-color: $main-color;
    }
    .navbar-nav__item:last-child() {
        margin-right: 0;
        border: 1px red;
    }
    .title-container {
        &__title {
            font-size: 72px;
        }
        &__description {
            font-size: 24px;
        }
        &__info {
            font-size: 14px;
        }
    }
}

@media (max-width: 480px) {
    .header {
        background-color: #27262a;
    }
    .navbar-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    .header-logo__text,
    .header-navbar {
        display: none;
    }
    .meta-btn {
        display: block;
        width: 27px;
        height: 27px;
    }
    .meta-btn__lines,
    .meta-btn__lines::before,
    .meta-btn__lines::after {
        position: relative;
        top: 9px;
        width: 26px;
        height: 3px;
        background-color: $secondary-color;
        transition: 1s;
    }
    .meta-btn__lines {
        animation: burger-animation-center-reverse 1s ease-out;
    }
    .meta-btn__lines::before {
        content: '';
        position: absolute;
        top: -9px;
        left: 10px;
        width: 16px;
        animation: burger-animation-top-reverse 1s ease-out;
    }
    .meta-btn__lines::after {
        content: '';
        position: absolute;
        top: 9px;
        animation: burger-animation-bottom-reverse 1s ease-out;
    }
    .navbar__button {
        @include button(119px, 37px, 15px);
    }
    .active .meta-btn__lines::before {
        animation: burger-animation-top 0.7s forwards;
    }
    .active .meta-btn__lines {
        animation: burger-animation-center 0.7s ease-in forwards;
    }
    .active .meta-btn__lines::after {
        animation: burger-animation-bottom 0.7s ease-out forwards;
    }
    .active.header-navbar {
        display: block;
        position: absolute;
        top: 100px;
        width: 93%;
    }
    .active {
        .navbar-nav {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            width: 100%;
            height: 360px;
            animation: dropdown 1s;
            z-index: 20;
        }
        .navbar-nav__item {
            display: flex;
            align-items: center;
            height: 90px;
            width: 100%;
            font-size: 26px;
            background-color: #333333;
            border-bottom: 2px solid #3B3B3B;
            cursor: pointer;
        }
        .navbar-nav__item a {
            color: $secondary-color;
            margin-left: 35px;
        }
        .navbar-nav__item:active,
        .navbar-nav__item:focus {
            border-left: 8px solid $main-color;
            box-sizing: border-box;
            a {
                color: $main-color;
            }
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    .title-container {
        &__title {
            font-size: 48px;
        }
        &__description {
            font-size: 18px;
            text-transform: capitalize;
            margin: 20px 20px;
        }
        &__info {
            font-size: 14px;
        }
    }
}

.header-navbar {
    display: flex;
    align-items: center;
    justify-self: right;
}

.navbar-nav {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.navbar-nav__item {
    text-align: center;
    margin-right: 40px;
    cursor: pointer;
     :hover {
        color: $secondary-color;
    }
    a {
        text-decoration: none;
        color: $main-color;
        text-transform: capitalize;
    }
}

.navbar__button {
    @include button(145px, 37px, 16px);
    justify-self: left;
    cursor: pointer;
}

.navbar__button:hover {
    background-color: $secondary-color;
    color: $main-color;
    border: 2px solid $main-color;
    transition: 0.5s;
}

.title-container {
    text-align: center;
    padding-top: 83px;
    &__title {
        color: $secondary-color;
        font-size: 82px;
        display: inline-block;
        margin-top: 70px;
    }
    &__description {
        font-size: 30px;
        color: $main-color;
        font-family: $aux-font;
        font-weight: 400;
        margin: 20px 0;
    }
    &__info {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        color: #848E97;
    }
}

.btn-container {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: $header-height - 62px/2;
    z-index: 3;
}

.header__btn-download {
    @include button(390px, 62px, 21px);
}

.header__btn-download:hover {
    background-color: $secondary-color;
    color: $main-color;
    border: 2px solid $main-color;
    transition: 0.5s;
}