.section-container {
    max-width: $section-width;
    background-image: url(../img/testimonial-background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @extend %automargin;
}

.section-title {
    color: $secondary-color;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 100px;
}

.testimonial {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    perspective: 10000px;
}

.testimonial-item {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    width: 306px;
    color: $secondary-color;
    font-style: italic;
    font-family: $aux-font;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    margin: 100px 0;
    &__img {
        align-self: center;
    }
}

.testimonial-item:hover {
    transform: rotateY(360deg);
    transition: .5s;
}

.additional-info {
    font-size: 14px;
    font-family: $aux-font;
    font-weight: 400;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: #A291A5;
    padding-bottom: 30px;
}

.additional-info::after {
    content: "";
    display: block;
    position: relative;
    top: 15px;
    height: 2px;
    width: 80%;
    background-color: #645766;
    @extend %automargin
}