        @import "_reset.scss";
        @import "_animation.scss";
        @import "_header.scss";
        @import "_testimonial.scss";
        body {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
        }